<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(80,80) %>
  <% if @user.id == current_user %>
  <p><%= link_to"プロフィール編集",edit_user_path(@user) %></p>
  <% end %>

</div>

<!-- ユーザーの投稿したbooks一覧 -->
<h2>Books</h2>
<% @books.each do |book| %> 
<div>
  <%= link_to book_path(book.id) do %>
   <div class="field">
    <%= book.label :Title %><br />
    <%= book.text_field :title %>
  </div>

  <div class="field">
     <%= book.label :Opinion %><br />
     <%= book.text_area :opinion %>
  </div>
  <% end %>
</div>
<% end %>