<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'profile', user: @user %>
      <%= render 'books/create', book: @book %>
    </div>

<!-- ユーザーの投稿したbooks一覧 -->
<h2>Books detail</h2>
<% @books.each do |book| %> 
<div>
  <%= link_to book_path(book.id) do %>
   <div class="field">
    <%= book.label :Title %><br />
    <%= book.text_field :title %>
  </div>

  <div class="field">
     <%= book.label :Opinion %><br />
     <%= book.text_area :opinion %>
  </div>
  <% end %>
</div>
<% end %>