<div>
  <h3><%= @user.name %></h3>
  <%= image_tag user.get_profile_image(80,80) %>
</div>

<!-- ユーザーの投稿したbooks一覧 -->

<% @books.each do |book| %> 
<div>
  <%= link_to book_path(book.id) do %>
   <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
     <%= f.label :Opinion %><br />
     <%= f.text_area :opinion %>
  </div>
  <% end %>
</div>
<% end %>