<h2>Book　detail</h2>

<div>
  <p><%= image_tag post_image.user.get_profile_image(80,80) %></p>
  <p><%= @book.user.name %></p>
  <p>Title<%= book.title %></p> <!--trを使う？-->
  <p>Opinion<%= book.opinion %></p>
</div>

<% if @book.user == current_user %> <!--ログインしているユーザーの場合ーー＞
    <%= link_to "Destory", book_path(@book), method: :delete %>　
<% end %>　
